#navbar {padding: 0%;}
#menu {border-radius: 0px 0px 18px 18px;}
#logout {color: tomato;}


/*Adicionei isso */
/* CENTRALIZAÇÃO DE FORMS */
* {box-sizing: border-box;}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 92%;
}


/* BARRA CARREGAMENTO PADRÃO YOUTUBE*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {display: none;}

.pace .pace-progress {
  background:#1e88e5;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}
.set{
  text-transform: lowercase !important;
}
.setn{
  text-transform: capitalize !important;
}
h1{
  text-align: center !important;
}
